.App {
  text-align: center;
}

/* posts */

.post {
  margin: 24px auto;
    max-width: 400px;
    box-shadow: black 4px 8px 20px 4px;
    display: flex;
    flex-direction: column;
    font-family: 'Courier New', Courier, monospace;
}

.post .title {
  margin-bottom: 12px;
  font-weight: 800;
  text-transform: uppercase;
  background-color: #5d7acd;
  padding: 12px;
}

.post .body {
  margin: 12px;
  min-height: 200px;
  text-align: left;
}

.post .footer {
  margin-top: 12px;
  padding: 12px;
  border-top: 1px solid #000000;
  text-align: right;
  background-color: #5d7acd;
}

/*add post form (page) */
.addPostPage {
  margin: 16px auto;
  display: flex;
  border:2px solid #4421ad;
  flex-direction: column;
  max-width: 400px;
}

.addPostPage form {
  display: flex;
  flex-flow: column;
  text-align: left;
  padding: 16px;
  font-size: 1.2em;
  font-family: 'Courier New', Courier, monospace;
}

.addPostPage form label {
  margin: 8px 0;
}

.formInput, button {
  margin: 8px 0;
  height: 32px;
}

.addPostPage button {
  color: #fff;
  background: #441cf1
}

.addPostPage button:hover {
  background: #000000
}

.addPostPage span {
  color: rgba(255, 0, 0, 1);
}